html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', Corbel, Tahoma, Arial, sans-serif;
    color: #222;
    line-height: 1.2;
    font-size: 13px;
    background-color: #F2F2F2;
    padding: 30px;
  }